@font-face { font-family: 'Harmonia';  src: local('HarmoniaSansProCyr-SemiBd'), url('https://nomail.com.ua/files/woff/a10ef598289514d8613ac6bf8282ac0f.woff') format('woff'); }
@font-face { font-family: 'HarmoniaBd';  src: local('HarmoniaSansProCyr-Bold'), url('https://nomail.com.ua/files/woff/ad00ae7743676dd96d524a60943a78ec.woff') format('woff'); }
@font-face { font-family: 'GothamBd';  src: local('GothamPro-Bold'), url('https://nomail.com.ua/files/woff/45aa54635ee87503742d3b4af08a808f.woff') format('woff'); }

body {
	margin: 0px;
	padding: 0px;
	background: #E5E5E5;
	font-family: "Harmonia", sans-serif;
	perspective: 4000px;
	overflow: hidden;
}

.site {
	display: flex;
	flex-direction: column;
	height: 100vh;
	transform-origin: left center;
	transition: transform 1s ease-in-out;
}

.site-transform {
	transform: scale(0.85, 0.85) rotateY(48deg);
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0px;
}

header{
	width: 100%;
	height: 65px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	padding: 0px 70px;
	box-sizing: border-box;
	font-size: 16px;
	flex: 0 0 auto;
}

header .reward {
	display: flex;
	align-items: center;
}

header .reward span {
	color: #fff;
	line-height: 26px;
	margin-left: 15px;
}

header .btn-open-menu-wrapper {
	width: 325px;
	display: flex;
	justify-content: flex-end;
}

header .btn-open-menu {
	font-family: "HarmoniaBd", sans-serif;
	font-size: 16px;
	color: #fff;
	width: 84px;
	height: 40px;
	display: flex;
	align-items: center;
}

header .btn-open-menu .btn-name {
	margin-right: 10px;
	line-height: 17px;
}

header .btn-open-menu .burger-btn{
	width: 14px;
	height: 3px;
	background-color: #fff;
	display: inline-block;
}

header .btn-open-menu .burger-btn:before{
	content: "";
	display: block;
	width: 24px;
	height: 3px;
	background-color: #fff;
	transform: translateY(-7px);
}

header .btn-open-menu .burger-btn:after{
	content: "";
	display: block;
	width: 24px;
	height: 3px;
	background-color: #fff;
	transform: translateY(4px);
}

main {
	margin: 160px 160px 0;
	color: #fff;
	flex: 1 0 auto;
	position: relative;
}

main > * {
	z-index: 1;
}

main .video-background {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -2;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

main .rhomb {
	width: 524px;
	height: 524px;
	box-sizing:border-box;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.2);
	transform: rotate(45deg);
	position: absolute;
	left: 50%;
	margin-left: -262px;
	top: -5%;
	z-index: 0;
}

main .btn-play {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background-color: #005798;
	margin: 0px;
	transform: rotate(-45deg);
	position: absolute;
	right: -26px;
	top: 242px;
	
}

main .btn-play.hidden {
	transition: opacity .5s, visibility 0s .5s;
	opacity: 0;
	visibility: hidden;
}

main .btn-play .play-icon {
	margin: 16px 20px;
}

main h1 {
	font-size: 60px;
	line-height: 60px;
	font-family: "HarmoniaBd", sans-serif;
}

main .splitter {
	width: 100px;
	height: 6px;
	background: #fff;
	margin: 65px 0px;
}

main .description {
	line-height: 28px;
}

main .btn-sign-up {
	width: 276px;
	height: 56px;
	border: 4px solid #005798;
	color: #fff;
	font-family: "Harmonia", sans-serif;
	margin-top: 65px;
	font-size: 21px;
	line-height: 28px;
	box-sizing: border-box;
	margin-bottom: 30px;
}

main .btn-sign-up .arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 4px;
  display: inline-block;
  transform: rotate(-45deg) translateY(-1px);
  margin-left: 5px;
}

main .video-switcher {
	display: flex;
	width: 460px;
	justify-content: space-between;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -230px;
}

main .video-switcher .video-select {
	width: 100px;
	height: 4px;
	background-color: #fff;
}

main .video-switcher .active {
	background-color: #005798;
	cursor: default;
}

footer {
	color: #fff;
	margin: 30px 0px;
	margin-left: 160px;
	flex: 0 0 auto;
	font-size: 11px;
}

.site .overlay {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 7;
}

.site .overlay.active {
	display: block;
}

.form {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.form.active {
	display: flex;
}

.form .popup {
	width: 403px;
	height: 580px;
	background-color: #F8F8F8;
	color: #000;
	font-family: "Harmonia";
	font-size: 14px;
	padding: 30px 40px;
	box-sizing: border-box;
}

.form .form-start {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	align-items: center;
}

.form .form-name {
	font-size: 21px;
	line-height: 26px;
}

.quit-btn {
	width: 20px;
}

.quit-icon {
	width: 2px;
	height: 20px;
	background-color: #979797;
	border: none;
	margin: 0px;
	padding: 0px;
	transform: rotate(45deg);
	margin-left: 9px;
}

.quit-icon:after {
	content: "";
	display: block;
	width: 2px;
	height: 20px;
	background-color: #979797;
	transform: rotate(90deg);
}

.form .popup .field-decoration {
	height: 55px;
	box-sizing: border-box;
	background-color: transparent;
	border: 1px solid #DCDCDC;
	margin-bottom: 27px;
	line-height: 55px;
}

.form .popup .type-of-client {
	display: none;
}

.form .popup .radio-btn {
	display: flex;
}

.form .popup .type-of-client-switcher {
	width: 161px;
	text-align: center;
	cursor: pointer;
}

.form .popup .type-of-client[type="radio"]:checked + label {
	border: none;
	background-color: #005798;
	color: #fff;
}

.form form > label {
	display: block;
	margin-bottom: 10px;
}

.form .popup .name {
	width: 100%;
	padding: 0px 22px;
}

.form .popup .region-code {
	width: 55px;
	text-align: center;
}

.form .popup .tel {
	width: 268px;
	border-left: none;
	padding: 0px 22px;
}

.form .popup .tel-fields {
	display: flex;
}

.form .popup .region {
	width: 100%;
	padding: 0px 22px;
}

.form .popup .submit {
	width: 232px;
	height: 48px;
	border-radius: 24px;
	background-color: #005798;
	color: #fff;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	display: block;
	margin: 0px auto;
}

nav {
	width: 575px;
	position: fixed;
	z-index: 10;
	top: 0px;
	bottom: 0px;
	right: -675px;
	padding-top: 140px;
	padding-left: 100px;
	font-size: 15px;
	transition: right 1s ease-in-out;
	background-color: #e5e5e5;

	display: grid;
	grid-template-rows: fit-content(400px) fit-content(400px) fit-content(400px);
	grid-template-columns: 276px auto;
	row-gap: 40px;
}

nav.active {
	right: 0px;
}

nav .quit-btn {
	position: absolute;
	top: 48px;
	right: 72px;
}

nav ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

nav .nav-header {
	font-size: 18px;
	line-height: 40px;
	color: #00569b;
}

nav a {
	line-height: 40px;
	text-decoration: none;
	color: #2e2e2e;
	display: block;
}

nav a:hover {
	box-shadow: inset 0px -2px #00569b;
	color: #00569b;
}

nav .call-btn-wrapper {
	display: flex;
    flex-direction: column;
	justify-content: flex-end;
}

nav .call-btn {
	width: 198px;
	height: 47px;
	background-color: rgba(0, 87, 152, 0.1);
	color: #005798;
	font-family: "GothamBd";
	font-size: 14px;
	line-height: 21px;
	border-radius: 1px;
	margin-bottom: 10px;

	display: flex;
	align-items: center;
}

nav .call-btn img {
	margin-right: 8px;
	margin-left: 19px;
}